@use 'sass:map';

/* ===== Global Color Palette ===== */
$monochrome-colors: (
	'white': #ffffff,
	'black': #000000
) !default;

$red-colors: (
	'red-50': #ffebee,
	'red-100': #ffcdd2,
	'red-200': #ef9a9a,
	'red-300': #e57373,
	'red-400': #ef5350,
	'red-500': #f44336,
	'red-600': #e53935,
	'red-700': #d32f2f,
	'red-800': #c62828,
	'red-900': #b71c1c
) !default;

$pink-colors: (
	'pink-50': #fce4ec,
	'pink-100': #f8bbd0,
	'pink-200': #f48fb1,
	'pink-300': #f06292,
	'pink-400': #ec407a,
	'pink-500': #e91e63,
	'pink-600': #d81b60,
	'pink-700': #c2185b,
	'pink-800': #ad1457,
	'pink-900': #880e4f
) !default;

$purple-colors: (
	'purple-50': #f3e5f5,
	'purple-100': #e1bee7,
	'purple-200': #ce93d8,
	'purple-300': #ba68c8,
	'purple-400': #ab47bc,
	'purple-500': #9c27b0,
	'purple-600': #8e24aa,
	'purple-700': #7b1fa2,
	'purple-800': #6a1b9a,
	'purple-900': #4a148c
) !default;

$deep-purple-colors: (
	'deep-purple-50': #ede7f6,
	'deep-purple-100': #d1c4e9,
	'deep-purple-200': #b39ddb,
	'deep-purple-300': #9575cd,
	'deep-purple-400': #7e57c2,
	'deep-purple-500': #673ab7,
	'deep-purple-600': #5e35b1,
	'deep-purple-700': #512da8,
	'deep-purple-800': #4527a0,
	'deep-purple-900': #311b92
) !default;

$indigo-colors: (
	'indigo-50': #e8eaf6,
	'indigo-100': #c5cae9,
	'indigo-200': #9fa8da,
	'indigo-300': #7986cb,
	'indigo-400': #5c6bc0,
	'indigo-500': #3f51b5,
	'indigo-600': #3949ab,
	'indigo-700': #303f9f,
	'indigo-800': #283593,
	'indigo-900': #1a237e
) !default;

$blue-colors: (
	'blue-50': #e3f2fd,
	'blue-100': #bbdefb,
	'blue-200': #90caf9,
	'blue-300': #64b5f6,
	'blue-400': #42a5f5,
	'blue-500': #2196f3,
	'blue-600': #1e88e5,
	'blue-700': #1976d2,
	'blue-800': #1565c0,
	'blue-900': #0d47a1
) !default;

$light-blue-colors: (
	'light-blue-50': #e1f5fe,
	'light-blue-100': #b3e5fc,
	'light-blue-200': #81d4fa,
	'light-blue-300': #4fc3f7,
	'light-blue-400': #29b6f6,
	'light-blue-500': #03a9f4,
	'light-blue-600': #039be5,
	'light-blue-700': #0288d1,
	'light-blue-800': #0277bd,
	'light-blue-900': #01579b
) !default;

$cyan-colors: (
	'cyan-50': #e0f7fa,
	'cyan-100': #b2ebf2,
	'cyan-200': #80deea,
	'cyan-300': #4dd0e1,
	'cyan-400': #26c6da,
	'cyan-500': #00bcd4,
	'cyan-600': #00acc1,
	'cyan-700': #0097a7,
	'cyan-800': #00838f,
	'cyan-900': #006064
) !default;

$teal-colors: (
	'teal-50': #e0f2f1,
	'teal-100': #b2dfdb,
	'teal-200': #80cbc4,
	'teal-300': #4db6ac,
	'teal-400': #26a69a,
	'teal-500': #009688,
	'teal-600': #00897b,
	'teal-700': #00796b,
	'teal-800': #00695c,
	'teal-900': #004d40
) !default;

$green-colors: (
	'green-50': #e8f5e9,
	'green-100': #c8e6c9,
	'green-200': #a5d6a7,
	'green-300': #81c784,
	'green-400': #66bb6a,
	'green-500': #4caf50,
	'green-600': #43a047,
	'green-700': #388e3c,
	'green-800': #2e7d32,
	'green-900': #1b5e20
) !default;

$light-green-colors: (
	'light-green-50': #f1f8e9,
	'light-green-100': #dcedc8,
	'light-green-200': #c5e1a5,
	'light-green-300': #aed581,
	'light-green-400': #9ccc65,
	'light-green-500': #8bc34a,
	'light-green-600': #7cb342,
	'light-green-700': #689f38,
	'light-green-800': #558b2f,
	'light-green-900': #33691e
) !default;

$lime-colors: (
	'lime-50': #f9fbe7,
	'lime-100': #f0f4c3,
	'lime-200': #e6ee9c,
	'lime-300': #dce775,
	'lime-400': #d4e157,
	'lime-500': #cddc39,
	'lime-600': #c0ca33,
	'lime-700': #afb42b,
	'lime-800': #9e9d24,
	'lime-900': #827717
) !default;

$yellow-colors: (
	'yellow-50': #fffde7,
	'yellow-100': #fff9c4,
	'yellow-200': #fff59d,
	'yellow-300': #fff176,
	'yellow-400': #ffee58,
	'yellow-500': #ffeb3b,
	'yellow-600': #fdd835,
	'yellow-700': #fbc02d,
	'yellow-800': #f9a825,
	'yellow-900': #f57f17
) !default;

$amber-colors: (
	'amber-50': #fff8e1,
	'amber-100': #ffecb3,
	'amber-200': #ffe082,
	'amber-300': #ffd54f,
	'amber-400': #ffca28,
	'amber-500': #ffc107,
	'amber-600': #ffb300,
	'amber-700': #ffa000,
	'amber-800': #ff8f00,
	'amber-900': #ff6f00
) !default;

$orange-colors: (
	'orange-50': #fff3e0,
	'orange-100': #ffe0b2,
	'orange-200': #ffcc80,
	'orange-300': #ffb74d,
	'orange-400': #ffa726,
	'orange-500': #ff9800,
	'orange-600': #fb8c00,
	'orange-700': #f57c00,
	'orange-800': #ef6c00,
	'orange-900': #e65100
) !default;

$deep-orange-colors: (
	'deep-orange-50': #fbe9e7,
	'deep-orange-100': #ffccbc,
	'deep-orange-200': #ffab91,
	'deep-orange-300': #ff8a65,
	'deep-orange-400': #ff7043,
	'deep-orange-500': #ff5722,
	'deep-orange-600': #f4511e,
	'deep-orange-700': #e64a19,
	'deep-orange-800': #d84315,
	'deep-orange-900': #bf360c
) !default;

$brown-colors: (
	'brown-50': #efebe9,
	'brown-100': #d7ccc8,
	'brown-200': #bcaaa4,
	'brown-300': #a1887f,
	'brown-400': #8d6e63,
	'brown-500': #795548,
	'brown-600': #6d4c41,
	'brown-700': #5d4037,
	'brown-800': #4e342e,
	'brown-900': #3e2723
) !default;

$grey-colors: (
	'grey-50': #fafafa,
	'grey-100': #f5f5f5,
	'grey-200': #eeeeee,
	'grey-300': #e0e0e0,
	'grey-400': #bdbdbd,
	'grey-500': #9e9e9e,
	'grey-600': #757575,
	'grey-700': #616161,
	'grey-800': #424242,
	'grey-900': #212121
) !default;

$blue-grey-colors: (
	'blue-grey-50': #eceff1,
	'blue-grey-100': #cfd8dc,
	'blue-grey-200': #b0bec5,
	'blue-grey-300': #90a4ae,
	'blue-grey-400': #78909c,
	'blue-grey-500': #607d8b,
	'blue-grey-600': #546e7a,
	'blue-grey-700': #455a64,
	'blue-grey-800': #37474f,
	'blue-grey-900': #263238
) !default;
/* ===== Global Color Palette End ===== */

/* ===== Semantic Color Palette ===== */
/* ======== Brand Color Palette ======== */
$primary-colors: (
	'primary-50': var(--#{$prefix}deep-purple-50, map.get($deep-purple-colors, 'deep-purple-50')),
	'primary-100': var(--#{$prefix}deep-purple-100, map.get($deep-purple-colors, 'deep-purple-100')),
	'primary-200': var(--#{$prefix}deep-purple-200, map.get($deep-purple-colors, 'deep-purple-200')),
	'primary-300': var(--#{$prefix}deep-purple-300, map.get($deep-purple-colors, 'deep-purple-300')),
	'primary-400': var(--#{$prefix}deep-purple-400, map.get($deep-purple-colors, 'deep-purple-400')),
	'primary-500': var(--#{$prefix}deep-purple-500, map.get($deep-purple-colors, 'deep-purple-500')),
	'primary-600': var(--#{$prefix}deep-purple-600, map.get($deep-purple-colors, 'deep-purple-600')),
	'primary-700': var(--#{$prefix}deep-purple-700, map.get($deep-purple-colors, 'deep-purple-700')),
	'primary-800': var(--#{$prefix}deep-purple-800, map.get($deep-purple-colors, 'deep-purple-800')),
	'primary-900': var(--#{$prefix}deep-purple-900, map.get($deep-purple-colors, 'deep-purple-900'))
) !default;

$secondary-colors: (
	'secondary-50': var(--#{$prefix}indigo-50, map.get($indigo-colors, 'indigo-50')),
	'secondary-100': var(--#{$prefix}indigo-100, map.get($indigo-colors, 'indigo-100')),
	'secondary-200': var(--#{$prefix}indigo-200, map.get($indigo-colors, 'indigo-200')),
	'secondary-300': var(--#{$prefix}indigo-300, map.get($indigo-colors, 'indigo-300')),
	'secondary-400': var(--#{$prefix}indigo-400, map.get($indigo-colors, 'indigo-400')),
	'secondary-500': var(--#{$prefix}indigo-500, map.get($indigo-colors, 'indigo-500')),
	'secondary-600': var(--#{$prefix}indigo-600, map.get($indigo-colors, 'indigo-600')),
	'secondary-700': var(--#{$prefix}indigo-700, map.get($indigo-colors, 'indigo-700')),
	'secondary-800': var(--#{$prefix}indigo-800, map.get($indigo-colors, 'indigo-800')),
	'secondary-900': var(--#{$prefix}indigo-900, map.get($indigo-colors, 'indigo-900'))
) !default;
/* ======== Brand Color Palette End ======== */

/* ======== State Color Palette ======== */
$info-colors: (
	'info-50': var(--#{$prefix}blue-50, map.get($blue-colors, 'blue-50')),
	'info-100': var(--#{$prefix}blue-100, map.get($blue-colors, 'blue-100')),
	'info-200': var(--#{$prefix}blue-200, map.get($blue-colors, 'blue-200')),
	'info-300': var(--#{$prefix}blue-300, map.get($blue-colors, 'blue-300')),
	'info-400': var(--#{$prefix}blue-400, map.get($blue-colors, 'blue-400')),
	'info-500': var(--#{$prefix}blue-500, map.get($blue-colors, 'blue-500')),
	'info-600': var(--#{$prefix}blue-600, map.get($blue-colors, 'blue-600')),
	'info-700': var(--#{$prefix}blue-700, map.get($blue-colors, 'blue-700')),
	'info-800': var(--#{$prefix}blue-800, map.get($blue-colors, 'blue-800')),
	'info-900': var(--#{$prefix}blue-900, map.get($blue-colors, 'blue-900'))
) !default;

$success-colors: (
	'success-50': var(--#{$prefix}green-50, map.get($green-colors, 'green-50')),
	'success-100': var(--#{$prefix}green-100, map.get($green-colors, 'green-100')),
	'success-200': var(--#{$prefix}green-200, map.get($green-colors, 'green-200')),
	'success-300': var(--#{$prefix}green-300, map.get($green-colors, 'green-300')),
	'success-400': var(--#{$prefix}green-400, map.get($green-colors, 'green-400')),
	'success-500': var(--#{$prefix}green-500, map.get($green-colors, 'green-500')),
	'success-600': var(--#{$prefix}green-600, map.get($green-colors, 'green-600')),
	'success-700': var(--#{$prefix}green-700, map.get($green-colors, 'green-700')),
	'success-800': var(--#{$prefix}green-800, map.get($green-colors, 'green-800')),
	'success-900': var(--#{$prefix}green-900, map.get($green-colors, 'green-900'))
) !default;

$warning-colors: (
	'warning-50': var(--#{$prefix}orange-50, map.get($orange-colors, 'orange-50')),
	'warning-100': var(--#{$prefix}orange-100, map.get($orange-colors, 'orange-100')),
	'warning-200': var(--#{$prefix}orange-200, map.get($orange-colors, 'orange-200')),
	'warning-300': var(--#{$prefix}orange-300, map.get($orange-colors, 'orange-300')),
	'warning-400': var(--#{$prefix}orange-400, map.get($orange-colors, 'orange-400')),
	'warning-500': var(--#{$prefix}orange-500, map.get($orange-colors, 'orange-500')),
	'warning-600': var(--#{$prefix}orange-600, map.get($orange-colors, 'orange-600')),
	'warning-700': var(--#{$prefix}orange-700, map.get($orange-colors, 'orange-700')),
	'warning-800': var(--#{$prefix}orange-800, map.get($orange-colors, 'orange-800')),
	'warning-900': var(--#{$prefix}orange-900, map.get($orange-colors, 'orange-900'))
) !default;

$error-colors: (
	'error-50': var(--#{$prefix}red-50, map.get($red-colors, 'red-50')),
	'error-100': var(--#{$prefix}red-100, map.get($red-colors, 'red-100')),
	'error-200': var(--#{$prefix}red-200, map.get($red-colors, 'red-200')),
	'error-300': var(--#{$prefix}red-300, map.get($red-colors, 'red-300')),
	'error-400': var(--#{$prefix}red-400, map.get($red-colors, 'red-400')),
	'error-500': var(--#{$prefix}red-500, map.get($red-colors, 'red-500')),
	'error-600': var(--#{$prefix}red-600, map.get($red-colors, 'red-600')),
	'error-700': var(--#{$prefix}red-700, map.get($red-colors, 'red-700')),
	'error-800': var(--#{$prefix}red-800, map.get($red-colors, 'red-800')),
	'error-900': var(--#{$prefix}red-900, map.get($red-colors, 'red-900'))
) !default;
/* ======== State Color Palette End ======== */
/* ===== Semantic Color Palette End ===== */
